[core]
	editor = code
	excludesfile = ~/.gitignore_global
[color]
    ui = auto
[push]
    default = simple

[alias]
    branches = branch -a
    tags = tag
    stashes = stash list
    remotes = remote -v
    unstage = reset -q HEAD --
    uncommit = reset --soft HEAD^
    discard = checkout --
	amend = commit --amend
    giveup = !git reset --hard HEAD && git clean -d -f
    precommit = diff --cached --diff-algorithm=minimal -w
    unstash = stash pop
    last = show -w
    st = status
    slog = log --graph --pretty=\"format:%C(yellow)%h%Cred%d%Creset %s %C(white) %C(cyan)%an%Creset, %C(green)%ar%Creset\" -n 20
    outgoing = log --pretty=oneline --abbrev-commit --graph @{u}..
    incoming = !git fetch && git log --pretty=oneline --abbrev-commit --graph ..@{u}

[include]
    path = ~/.gitconfig_local